* {
  font-family: 'Lato', sans-serif;
}

.bg-orange {
  background-color: #F0844312;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover  {
  background-color: #F08443;
  border-color: #E1548D;
  border-radius: 5em;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 700;
  color: #FFF;
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: #E1548D;
  border-color: #E1548D;
}

p {
  color: #333439;
}

.text-primary {
  color: #F08443 !important;
}

@media (max-width:576px) {
  .navbar {
    margin-left: 0
  }
}

@media (max-width:992px) {
  .nav-link {
    margin-left: 0;
  }
}
